<div style="padding-bottom: 300px;" class="content">
    <div class="content message">
        <% if (msg_blog_create) { %>
        <h2><%= msg_blog_create %></h2>
        <% } %>
    </div>
    <h4 class="category"><%= category %></h2>
    <div class="content main">
        <% post.forEach(Blog => { %>
            <img src="<%= Blog.headlineImageUrl %>" alt="headline Image">
            <h4 id="photograph">photo taken: <%= Blog.picTaker %></h4>
            
            <h2><%= Blog.headline %></h2>
            <span><li><%= Blog.author %></li> &nbsp; <li><%= Blog.updatedAt %></li></span>
            <h2><%= Blog.story %></h2>
            <h4>Other Images:</h4>
            <img class="image-support" src="<%= Blog.imageId.imageUrl[0] %>" alt="">
            <img class="image-support" src="<%= Blog.imageId.imageUrl[1] %>" alt="">
            <img class="image-support" src="<%= Blog.imageId.imageUrl[2] %>" alt="">
            <img class="image-support" src="<%= Blog.imageId.imageUrl[3] %>" alt="">
            <img class="image-support" src="<%= Blog.imageId.imageUrl[4] %>" alt="">
            <% if (user) { %>
               <% if (user.role === 'admin') { %>
                    <a href="/blog/<%= Blog._id %>/delete"><button>Delete Post</button></a>
               <% } %>
            <% } %>
        <% }) %>
    </div>
</div>

